* {
    box-sizing: border-box;
}

.container {
    padding: 0 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class*='col-'] {
    flex-shrink: 0;
    padding: 0 1rem;
}

.col-1-3 {
    flex-basis: 33.33333%;
}

.col-2-3 {
    flex-basis: 66.66666%;
}

.col-3-3 {
    flex-basis: 100%;
}

@media all and (min-width: 720px) {
    .col-md-1-3 {
        flex-basis: 33.33333%;
    }
    
    .col-md-2-3 {
        flex-basis: 66.66666%;
    }
    
    .col-md-3-3 {
        flex-basis: 100%;
    }
}